<footer class="footer">
  <div class="footer-content">
    <div class="footer-brand">
      <h3 class="footer-brand-title">АЛЬТЕРНАТИВА</h3>
      <p class="footer-brand-description">Агентство недвижимости. Помогаем найти дом вашей мечты!</p>
    </div>
    
    <div class="footer-services">
      <h4 class="footer-section-title">УСЛУГИ</h4>
      <ul>
        <li><a href="#" class="footer-service-link">Продажа недвижимости</a></li>
        <li><a href="#" class="footer-service-link">Аренда недвижимости</a></li>
      </ul>
    </div>
    
    <div class="footer-contacts">
      <h4 class="footer-section-title">КОНТАКТЫ</h4>
      <ul>
        <li class="contact-item">
          <img src="../assets/images/location.svg" alt="" class="contact-icon">
          <span class="contact-text">Нижний Новгород, Красносельская улица, 26</span>
        </li>
        <li class="contact-item">
          <img src="../assets/images/phone.svg" alt="" class="contact-icon">
          <span class="contact-text">+7 (999) 123-45-67</span>
        </li>
        <li class="contact-item">
          <img src="../assets/images/mail.svg" alt="" class="contact-icon">
          <span class="contact-text">filyutin07@bk.ru</span>
        </li>
        <li class="contact-item">
          <img src="../assets/images/calendar.svg" alt="" class="contact-icon">
          <span class="contact-text">Пн-Пт: 8:00-22:00</span>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="footer-divider"></div>
  <p class="footer-copyright">© 2024 АЛЬТЕРНАТИВА. Все права защищены.</p>
</footer>