<section class="properties-section" id="properties">
  <h2 class="properties-title">популярные предложения</h2>
  <div class="properties-grid">
    <article class="property-card">
      <div class="property-image-container">
        <img src="../assets/images/image 5.png" alt="Двухкомнатная квартира в Москве" class="property-image">
        <span class="property-tag tag-sale">ПРОДАЖА</span>
      </div>
      <div class="property-info">
        <div class="property-price">5,560,000₽</div>
        <div class="property-title">Двухкомнатная квартира в Москве</div>
        <div class="property-location">
          <img src="../assets/images/location.svg" alt="Местоположение" class="location-icon">
          <span class="location-text">Пресненская набережная, 12А</span>
        </div>
        <div class="property-details">
          <div class="detail-item">
            <img src="../assets/images/bed.svg" alt="Спальни" class="detail-icon">
            <span class="detail-text">2 спальни</span>
          </div>
          <div class="detail-item">
            <img src="../assets/images/rulle.svg" alt="Площадь" class="detail-icon">
            <span class="detail-text">34 м²</span>
          </div>
        </div>
      </div>
    </article>
    
    <article class="property-card">
      <div class="property-image-container">
        <img src="../assets/images/image 6.png" alt="Частный дом" class="property-image">
        <span class="property-tag tag-rent">АРЕНДА</span>
      </div>
      <div class="property-info">
        <div class="property-price">56,000₽/мес</div>
        <div class="property-title">Частный дом</div>
        <div class="property-location">
          <img src="../assets/images/location.svg" alt="Местоположение" class="location-icon">
          <span class="location-text">ул. Тверская, 15</span>
        </div>
        <div class="property-details">
          <div class="detail-item">
            <img src="../assets/images/bed.svg" alt="Спальни" class="detail-icon">
            <span class="detail-text">3 спальни</span>
          </div>
          <div class="detail-item">
           <img src="../assets/images/rulle.svg" alt="Площадь" class="detail-icon">
            <span class="detail-text">140 м²</span>
          </div>
        </div>
      </div>
    </article>

    <article class="property-card">
      <div class="property-image-container">
        <img src="../assets/images/image210.jpg" alt="Двухкомнатная квартира в Москве" class="property-image">
        <span class="property-tag tag-sale">ПРОДАЖА</span>
      </div>
      <div class="property-info">
        <div class="property-price">4,560,000₽</div>
        <div class="property-title">Студия в Москве</div>
        <div class="property-location">
          <img src="../assets/images/location.svg" alt="Местоположение" class="location-icon">
          <span class="location-text">Пресненская набережная, 52Г</span>
        </div>
        <div class="property-details">
          <div class="detail-item">
            <img src="../assets/images/bed.svg" alt="Спальни" class="detail-icon">
            <span class="detail-text">1 спальни</span>
          </div>
          <div class="detail-item">
            <img src="../assets/images/rulle.svg" alt="Площадь" class="detail-icon">
            <span class="detail-text">15 м²</span>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>