<section class="properties-section">
  <h2 class="properties-title">ПРЕДЛОЖЕНИЯ НА ПРОДАЖУ</h2>
  
  <div class="properties-grid" id="propertiesGrid">
    <article class="property-card" data-property-type="apartment" data-price="5.56" data-rooms="2">
      <div class="property-image-container">
        <img src="../assets/images/image201.png" alt="Двухкомнатная квартира в Москве" class="property-image">
        <span class="property-tag tag-sale">Продажа</span>
      </div>
      <div class="property-info">
        <h3 class="property-price">5,560,000₽</h3>
        <h4 class="property-title">Двухкомнатная квартира в Москве.</h4>
        <div class="property-location">
          <img src="../assets/images/location.svg" alt="Местоположение" class="location-icon">
          <span class="location-text">г. Москва, Пресненская набережная, 12А</span>
        </div>
        <div class="property-details">
          <div class="detail-item">
            <img src="../assets/images/bed.svg" alt="Спальни" class="detail-icon">
            <span class="detail-text">2 комнаты</span>
          </div>
          <div class="detail-item">
            <img src="../assets/images/rulle.svg" alt="Площадь" class="detail-icon">
            <span class="detail-text">34 м²</span>
          </div>
        </div>
      </div>
    </article>

    <article class="property-card" data-property-type="apartment" data-price="10.55" data-rooms="4">
      <div class="property-image-container">
        <img src="../assets/images/image202.png" alt="Четырёхкомнатная квартира в Тольятти" class="property-image">
        <span class="property-tag tag-sale">Продажа</span>
      </div>
      <div class="property-info">
        <h3 class="property-price">10,555,524₽</h3>
        <h4 class="property-title">Четырёхкомнатная квартира в центре Тольятти.</h4>
        <div class="property-location">
          <img src="../assets/images/location.svg" alt="Местоположение" class="location-icon">
          <span class="location-text">г. Тольятти, ул. Кварцова, 52</span>
        </div>
        <div class="property-details">
          <div class="detail-item">
            <img src="../assets/images/bed.svg" alt="Спальни" class="detail-icon">
            <span class="detail-text">4 комнаты</span>
          </div>
          <div class="detail-item">
            <img src="../assets/images/rulle.svg" alt="Площадь" class="detail-icon">
            <span class="detail-text">85 м²</span>
          </div>
        </div>
      </div>
    </article>

    <article class="property-card" data-property-type="apartment" data-price="5.9" data-rooms="3">
      <div class="property-image-container">
        <img src="../assets/images/image203.png" alt="Панельный дом в Казани" class="property-image">
        <span class="property-tag tag-sale">Продажа</span>
      </div>
      <div class="property-info">
        <h3 class="property-price">5,900,000₽</h3>
        <h4 class="property-title">Панельный дом 1990‑х, требует косметического ремонта.</h4>
        <div class="property-location">
          <img src="../assets/images/location.svg" alt="Местоположение" class="location-icon">
          <span class="location-text">г. Казань, ул. Волжская, д.25</span>
        </div>
        <div class="property-details">
          <div class="detail-item">
            <img src="../assets/images/bed.svg" alt="Спальни" class="detail-icon">
            <span class="detail-text">3 комнаты</span>
          </div>
          <div class="detail-item">
            <img src="../assets/images/rulle.svg" alt="Площадь" class="detail-icon">
            <span class="detail-text">79 м²</span>
          </div>
        </div>
      </div>
    </article>

    <article class="property-card" data-property-type="cottage" data-price="38.8" data-rooms="4">
      <div class="property-image-container">
        <img src="../assets/images/image204.png" alt="Двухэтажный коттедж в Сочи" class="property-image">
        <span class="property-tag tag-sale">Продажа</span>
      </div>
      <div class="property-info">
        <h3 class="property-price">38,800,000₽</h3>
        <h4 class="property-title">Двухэтажный коттедж, ремонт, участок 4 сотки.</h4>
        <div class="property-location">
          <img src="../assets/images/location.svg" alt="Местоположение" class="location-icon">
          <span class="location-text">г. Сочи, ул. Морская, д. 7</span>
        </div>
        <div class="property-details">
          <div class="detail-item">
            <img src="../assets/images/bed.svg" alt="Спальни" class="detail-icon">
            <span class="detail-text">4 комнаты</span>
          </div>
          <div class="detail-item">
            <img src="../assets/images/rulle.svg" alt="Площадь" class="detail-icon">
            <span class="detail-text">112 м²</span>
          </div>
        </div>
      </div>
    </article>

    <article class="property-card" data-property-type="apartment" data-price="7.5" data-rooms="2">
      <div class="property-image-container">
        <img src="../assets/images/image205.png" alt="Кирпичный дом в Екатеринбурге" class="property-image">
        <span class="property-tag tag-sale">Продажа</span>
      </div>
      <div class="property-info">
        <h3 class="property-price">7,500,000₽</h3>
        <h4 class="property-title">Кирпичный дом, застеклённая лоджия, развитая инфраструктура.</h4>
        <div class="property-location">
          <img src="../assets/images/location.svg" alt="Местоположение" class="location-icon">
          <span class="location-text">г. Екатеринбург, ул. Техническая, д. 115</span>
        </div>
        <div class="property-details">
          <div class="detail-item">
            <img src="../assets/images/bed.svg" alt="Спальни" class="detail-icon">
            <span class="detail-text">2 комнаты</span>
          </div>
          <div class="detail-item">
            <img src="../assets/images/rulle.svg" alt="Площадь" class="detail-icon">
            <span class="detail-text">57 м²</span>
          </div>
        </div>
      </div>
    </article>

    <article class="property-card" data-property-type="apartment" data-price="2.8" data-rooms="1">
      <div class="property-image-container">
        <img src="../assets/images/image206.png" alt="Панельный дом в Казани" class="property-image">
        <span class="property-tag tag-sale">Продажа</span>
      </div>
      <div class="property-info">
        <h3 class="property-price">2,800,000₽</h3>
        <h4 class="property-title">Панельный дом 1990‑х, требует косметического ремонта.</h4>
        <div class="property-location">
          <img src="../assets/images/location.svg" alt="Местоположение" class="location-icon">
          <span class="location-text">г. Казань, ул. Зелёная, д. 3а</span>
        </div>
        <div class="property-details">
          <div class="detail-item">
            <img src="../assets/images/bed.svg" alt="Спальни" class="detail-icon">
            <span class="detail-text">1 комната</span>
          </div>
          <div class="detail-item">
            <img src="../assets/images/rulle.svg" alt="Площадь" class="detail-icon">
            <span class="detail-text">38 м²</span>
          </div>
        </div>
      </div>
    </article>

    <article class="property-card" data-property-type="house" data-price="8.1" data-rooms="5">
      <div class="property-image-container">
        <img src="../assets/images/image207.png" alt="Одноэтажный дом в Калининграде" class="property-image">
        <span class="property-tag tag-sale">Продажа</span>
      </div>
      <div class="property-info">
        <h3 class="property-price">8,100,000₽</h3>
        <h4 class="property-title">Одноэтажный дом с мансардой, участок 6 соток, нужна реконструкция.</h4>
        <div class="property-location">
          <img src="../assets/images/location.svg" alt="Местоположение" class="location-icon">
          <span class="location-text">г. Калининград, ул. Портовая, д. 29</span>
        </div>
        <div class="property-details">
          <div class="detail-item">
            <img src="../assets/images/bed.svg" alt="Спальни" class="detail-icon">
            <span class="detail-text">5 комнат</span>
          </div>
          <div class="detail-item">
            <img src="../assets/images/rulle.svg" alt="Площадь" class="detail-icon">
            <span class="detail-text">146 м²</span>
          </div>
        </div>
      </div>
    </article>

    <article class="property-card" data-property-type="apartment" data-price="30.8" data-rooms="3">
      <div class="property-image-container">
        <img src="../assets/images/image208.png" alt="Новый ЖК в Сочи" class="property-image">
        <span class="property-tag tag-sale">Продажа</span>
      </div>
      <div class="property-info">
        <h3 class="property-price">30,800,000₽</h3>
        <h4 class="property-title">Новый ЖК, панорамные окна, вид на море, дизайнерский ремонт.</h4>
        <div class="property-location">
          <img src="../assets/images/location.svg" alt="Местоположение" class="location-icon">
          <span class="location-text">г. Сочи, ул. Горная, д. 58/2</span>
        </div>
        <div class="property-details">
          <div class="detail-item">
            <img src="../assets/images/bed.svg" alt="Спальни" class="detail-icon">
            <span class="detail-text">3 комнаты</span>
          </div>
          <div class="detail-item">
            <img src="../assets/images/rulle.svg" alt="Площадь" class="detail-icon">
            <span class="detail-text">89 м²</span>
          </div>
        </div>
      </div>
    </article>

    <article class="property-card" data-property-type="house" data-price="9.9" data-rooms="2">
      <div class="property-image-container">
        <img src="../assets/images/image209.png" alt="Одноэтажный дом в Нижнем Новгороде" class="property-image">
        <span class="property-tag tag-sale">Продажа</span>
      </div>
      <div class="property-info">
        <h3 class="property-price">9,900,000₽</h3>
        <h4 class="property-title">Одноэтажный дом из газобетона, участок 5 соток, все коммуникации.</h4>
        <div class="property-location">
          <img src="../assets/images/location.svg" alt="Местоположение" class="location-icon">
          <span class="location-text">г. Нижний Новгород, ул. Рабочая, д. 104</span>
        </div>
        <div class="property-details">
          <div class="detail-item">
            <img src="../assets/images/bed.svg" alt="Спальни" class="detail-icon">
            <span class="detail-text">2 комнаты</span>
          </div>
          <div class="detail-item">
            <img src="../assets/images/rulle.svg" alt="Площадь" class="detail-icon">
            <span class="detail-text">64 м²</span>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>